<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @fictional_thing.title %>
</p>

<%= link_to 'Edit', edit_fictional_thing_path(@fictional_thing) %> |
<%= link_to 'Back', fictional_things_path %>
